<h1>Добавить Контакт</h1>
<%=form_for :contact, url: contacts_path   do |f| %>
  <p>ФИО!</p>
  <%=f.text_field(:name, {:class => 'form-control'}) %><br>
  <br>

  <p>Email!</p>
  <%=f.text_field(:email, {:class => 'form-control'}) %><br>
  <br>

  <p>Добавление картинки!</p>
  <%=f.file_field(:picture, {:class => 'form-control'}) %><br>
  <br>

  <p>Ваши коментарии!</p>
  <%=f.text_area(:comment, {:class => 'form-control'}) %> <br>
  <br>

  <%=f.submit({:class => 'btn btn-success'}) %>
  <%end%>